@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Uncut Sans";
    src: url("/fonts/uncut-sans-variable.woff2") format("woff2");
    font-display: swap;
  }
}
