---
import { EMAIL } from "../consts";
---

<header class="mb-6" transition:name="header">
  <nav class="flex items-center gap-4">
    <a
      href="/"
      class="font-medium text-neutral-500 hover:text-neutral-900 hover:underline"
    >
      home
    </a>
    <a
      href="/posts"
      class="font-medium text-neutral-500 hover:text-neutral-900 hover:underline"
    >
      posts
    </a>
    <a
      href={`mailto:${EMAIL}`}
      class="font-medium text-neutral-500 hover:text-neutral-900 hover:underline"
      >email</a
    >
  </nav>
</header>
